django
djangorestframework
djangorestframework-simplejwt

requests
responses
markdown
django-filter
django-environ

celery[redis]

psycopg2-binary

drf-spectacular
pre-commit
flake8
black

pytest
django-phonenumber-field[phonenumberslite]